<div *ngIf = "trivif.preguntas?.length > 0; else empezar">
    <ng-container *ngIf="finalisimo; then terminar; else noterminar">
    </ng-container>

    <ng-template #terminar>
        <div>
            <p>Your result is: {{notafinal/2}} / {{trivif.numpreguntas}}</p>
        </div>
    </ng-template>

    <div *ngIf="finalisimo == false">
        <ng-container #noterminar *ngIf="muestrapregunta; then preguntamostrar; else respuestamostrar">
        </ng-container>
    <ng-template #preguntamostrar>
        <div *ngIf="muestrapregunta" [ngIfElse]="evaluar">
            <p>Question nº {{indice}}</p>
            <form [formGroup]="myForm2" (ngSubmit)="getAnswer()">
                <h3>{{preguntactual}}</h3>

                <div *ngFor="let respuesta of respuestasrandom">
                    <label>
                        <input type="radio" formControlName="respuestadada" value="{{respuesta}}"> {{respuesta}}
                    </label>
                </div>
                <input type="submit" value="Check">
            </form>
        </div>
    </ng-template>

    <ng-template #respuestamostrar>
        <ng-container #evaluar *ngIf="myForm2.get('respuestadada')?.hasError('pattern'); then incorrecto; else correcto">
        </ng-container>

        <ng-template #incorrecto>
            <div *ngIf="myForm2.get('respuestadada')?.hasError('pattern')" [ngIfElse]="correcto">
                <p>The answer was:</p><br>
                <p>{{respuestacierta}}</p>
                <input type="submit" value="Next question" (click)="getPregunta()">
            </div>
        </ng-template>

        <ng-template #correcto>
            <div *ngIf="subirnota()">
                <p>¡Correct!</p>
                <input type="submit" value="Next question" (click)="getPregunta()">
            </div>
        </ng-template>
    </ng-template>

    </div>

    <!--<ng-template #evaluar>
        <div *ngIf="myForm2.get('respuestadada')?.hasError('pattern')" [ngIfElse]="correcto">
            <p>La respuesta correcta era:</p><br>
            <p>{{respuestacierta}}</p>
            <input type="submit" value="Siguiente pregunta" (ngSubmit)="getPregunta()">
        </div>

        <ng-template #correcto>
            <div>
                <p>¡Has acertado!</p>
                <input type="submit" value="Siguiente pregunta" (ngSubmit)="getPregunta()">
            </div>
        </ng-template>
    </ng-template> -->
</div>

<ng-template #empezar>
    <form [formGroup]="myForm" (ngSubmit)="getApi()">
        <div>
            <label>Nº de preguntas</label>
            <input formControlName="npreguntas" type="number"/>
            <!--<p *ngIf="myForm.get('npreguntas')?.touched && myForm.controls['npreguntas'].hasError('max')">El número máximo de preguntas es 15</p> -->
        </div>
        <button>Empezar</button>
    </form>
</ng-template>
